.curve-controls {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.channel-curve-controls {
  display: flex;
  flex-direction: column;
}

.setting-control {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 11rem;
}
